CREDITOR_DJANGO_DB_URL=postgres://creditor:superpassword@postgres:5432/db
CREDITOR_DJANGO_DEBUG=True
CREDITOR_DJANGO_SECRET_KEY=secretstring
CREDITOR_ALLOWED_HOSTS=creditor.karpets.pro

DJANGO_SETTINGS_MODULE=config.settings.development

POSTGRES_PASSWORD=superpassword
POSTGRES_USER=creditor
POSTGRES_DB=creditor
