CREDITOR_DJANGO_DB_URL=postgres://user:password@host:port/db
CREDITOR_DJANGO_DEBUG=False
CREDITOR_DJANGO_SECRET_KEY=secretstring

DJANGO_SETTINGS_MODULE=config.settings.production

POSTGRES_PASSWORD=superpassword
POSTGRES_USER=creditor
POSTGRES_DB=creditor
